# Median age evolution for various countries

In [3]:
import urllib.request
import os
from pathlib import Path
from bs4 import BeautifulSoup
import pandas

data_folder = "../data"
    
def download():
    urls = (
        'https://www.statista.com/statistics/275555/median-age-of-the-population-in-mexico/',
        'https://www.statista.com/statistics/275391/median-age-of-the-population-in-france/',
        'https://www.statista.com/statistics/254361/average-age-of-the-population-in-brazil/',
        'https://www.statista.com/statistics/241494/median-age-of-the-us-population/',
        'https://www.statista.com/statistics/624303/average-age-of-the-population-in-germany/',
        'https://www.statista.com/statistics/261339/life-expectancy-at-birth-in-switzerland/',
        'https://www.statista.com/statistics/408007/average-age-of-the-population-in-algeria/',
        'https://www.statista.com/statistics/524614/average-age-of-the-population-in-tunisia/',
        'https://www.statista.com/statistics/326829/average-age-of-the-population-in-iraq/',
        'https://www.statista.com/statistics/326576/average-age-of-the-population-in-syria/',
        'https://www.statista.com/statistics/382229/average-age-of-the-population-in-nigeria/',
        'https://www.statista.com/statistics/255480/median-age-of-the-population-in-turkey/',
        'https://fr.statista.com/statistiques/785233/age-median-de-la-population-iran/',
        'https://www.statista.com/statistics/368964/average-age-of-the-population-in-colombia/',
        'https://www.statista.com/statistics/370768/average-age-of-the-population-in-venezuela/',
        )

    Path(data_folder).mkdir(parents=True, exist_ok=True)
    for url in urls:
      segments = [field for field in url.split('/') if field]
      name = segments[-1].split('-')[-1]
      response = urllib.request.urlopen(url)
      data = response.read()
      with open(f'{data_folder}{os.path.sep}{name}.html', 'wb') as output:
          output.write(data)

def parse(filename):
    soup = BeautifulSoup(open(filename), "html.parser")
    table = soup.find("table", {"id": "statTableHTML"})
    
    table_body = table.find("tbody")
    rows = table_body.find_all("tr")
    data = list()
    country = filename.split(os.path.sep)[-1].split('.')[0]
    for row in rows:
        cols = row.find_all("td")
        cols = [ele.text.strip() for ele in cols]
        data.append({"country": country, "year": cols[0], "median_age": cols[1]})
    
    return data

In [4]:
download()

In [5]:
rows = list()
for filename in os.listdir(data_folder):
    if not filename.endswith(".html"):
        continue

    rows += parse(f"{data_folder}{os.path.sep}{filename}")
    
data = pandas.DataFrame(rows)

In [6]:
data

       country   year median_age
0      algeria  2100*       46.4
1      algeria  2095*       45.2
2      algeria  2090*       43.9
3      algeria  2085*       42.7
4      algeria  2080*       41.7
..         ...    ...        ...
556  venezuela   1970       15.8
557  venezuela   1965       15.4
558  venezuela   1960       15.5
559  venezuela   1955         16
560  venezuela   1950       16.1

[561 rows x 3 columns]

In [7]:
import matplotlib
data[data['country'] == 'mexico'][['year', 'median_age']].set_index('year').sort_index().plot()

ModuleNotFoundError: No module named 'matplotlib'